<div class="row" style="margin-left: 20px;">
  <br />
  <div class="col-md-8">
    <% @articles.each do |article| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to article.title, article %>
          </h4>
          <small>
            <%= article.body %>
          </small>
        </div>
      </div>
    <% end %>
  </div>
  <br />
  <div class="col-md-4">
    <% if user_signed_in? %>
      <%= link_to "New Article", new_article_path, class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
