<br  />

<div class="image">
  <div class="jumbotron">
    <div >
      <h1 style="padding-left: 20px;"><span>Encyclo<i>speed</i>ia</span></h1>
    </div>
    <div class="horse">
      <img src="http://www.freeiconspng.com/uploads/horse-png-5.png" style="max-width: 100%; height: 400px; padding-left: 50px;" />
    </div>
    <br />
    <p class="phrase" style="padding-left: 20px;">
      Find and learn about any possible topic!
      <br />
      Can't find an article on your topic? Create one!
    </p>
    <div class="points" style="margin-right: 30px;">
      <div class="row">
        <h2>Solves the Knowledge Crisis of Today!</h2>
        <p>Encyclospeedia is on a mission to close the Knowledge Gap!</p>
      </div>
      <div class="row">
        <h2>Eliminates Real Life Social Interaction!</h2>
        <p>Who needs a classroom when you have Encyclospeedia?</p>
      </div>
      <div class="row">
        <h2>Makes you a better person!</h2>
        <p>Learn everything you could ever know, even fictional stuff!</p>
      </div>
    </div>
  </div>
</div>
